<header>AÑADE UN PLATO</header>

<form id="form" class="topBefore">

		  <input id="name" type="text" placeholder="NOMBRE">
      <input id="name" type="text" placeholder="PAÍS">
      <input id="name" type="text" placeholder="FOTO">
      <input id="name" type="text" placeholder="INGREDIENTES">
		  <textarea id="message" type="text" placeholder="DESCRIPCION"></textarea>
  <!-- <button id="submit" (click) = "addDish(name, flag, description)"> -->
    <button id="submit" (click)="addDish(dishName, dishFlag, dishImg, dishIngredients, dishDescription)">GO!</button>

</form>
